body {font-family: Verdana, sans-serif; margin:0; width: 1265px;
}
.topnav{
	align-content: center;
	overflow: hidden;
	height: 150px;
}
.topnav a {
	font-size: 25px;
	float: center;
	color: black;
	text-align: center;
	padding: 10px ;
	margin: 30px;
	text-decoration:none;
	font-family: serif;
}
.topnav a:hover{
	color: rgb(255, 161, 47);
}
.label{
	position: absolute;
	top: 120px;
	left: 250px;
	color: rgb(73, 25, 25);
}
.img1{
	position: absolute;
	top: 200px;
	
}
.img3{
	position: absolute;
    top: 200px;
	left: 500px;
}
.img2{
	position:absolute;
	top: 200px;
    left: 1000px;
	
}
.img6{
	position: absolute;
	top: 800px;
	
}
.img5{
	position: absolute;
	top: 800px;
	left: 500px;
	
}
.img4{
	position: absolute;
	top: 800px;
	left: 1000px;
	
}
.img9{
	position: absolute;
	top: 1400px;
	
}
.img8{
	position: absolute;
	top: 1400px;
	left: 500px;
	
}
.img7{
	position: absolute;
	top: 1400px;
	left: 1000px;
}
.img12{
	position: absolute;
	top: 2000px;
	
}
.img10{
	position: absolute;
	top: 2000px;
	left: 500px;
	
}
.img11{
	position: absolute;
	top: 2000px;
	left: 1000px;
	
}
footer{
	position: absolute;
	top: 2600px;
	background-color: lightgoldenrodyellow;
	font-family: "Open Sans";
	color:#000000;
  }
  .footerContainer{
	position: absolute;
	top: 2600px;
	width: 100%;
	padding: 70px 30px 20px;
  }
  .footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
  }
  .footer-content p{
	font-size: medium;
  }
  
  .social{
	display: flex;
	justify-content: center;
  }
  .social li{
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .footer-bottom{
	text-align: center;
	background: lightgoldenrodyellow;
  }
  .footer-bottom p{
	font-size: medium;
	align-items: center;
  }

